/*Find more on Google Fonts.*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono" ');

body{
  background-color: black;
  font-family: "Ubuntu Mono";
  text-align: center;
}
#GameTitle{
  color:aquamarine;
}
h1{
  text-align: center;
  font-size: 50px;
}
#gameSetup {
  background-color:rgb(73, 73, 73);
  margin-left: 25%;
  margin-right: 25%;
  padding:3%;
  padding-bottom:1%;
  border-style: dashed;
  border-width: 6px;
  column-count: 2;
  column-gap: 30px;
  column-rule-style: solid;
  border-radius: 15px;
  word-wrap: break-word;
  text-align: center;
}
input{
  height: 15px;
  padding: 2% 2%;
  color:black;
  border:none;
  margin: 2%;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
  background-color: white;
  border:none;
  height: 20px;
  border-radius:3px;
  margin:3%;
  font-family: "Ubuntu Mono";
  cursor: url("../tap.png"), pointer;
}
#creGame {
  font-size:35px;
  text-align: center;
  color:greenyellow;
}
#joGame{
  padding-top:5%;
  font-size:35px;
  text-align: center;
  color:rgb(0, 162, 255);
}