/*Find more on Google Fonts.*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
    background-color: black;
    padding: 25%;
    padding-top: 5%;
    padding-bottom: 0%;
    font-family: 'Lobster', cursive;
  }
  #GameTitle{
    color:aquamarine;
  }
  h1{
    text-align: center;
    font-size: 50px;
  }
  
  #gameSetup {
    background-color:rgb(73, 73, 73);
    border-style:dashed;
    border-width: 6px;
    column-count: 2;
    column-gap: 30px;
    column-rule-style: solid;
    border-radius: 15px;
  }
  input{
    height: 23px;
    padding: 10px 20px;
    color:black;
    border:none;
    border-radius: 4px;
    margin:10px;
    margin-left:120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button{
    background-color: white;
    border:none;
    height: 20px;
    border-radius:3px;
    margin: 20px;
    margin-left: 36%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #creGame {
    font-size:35px;
    text-align: center;
    color:greenyellow;
  }
  #joGame{
    padding-top:5%;
    font-size:35px;
    text-align: center;
    color:rgb(0, 162, 255);
  }